<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
</head>

<body>
    <h1>Edit Company Page</h1>
    <form action="/companies/<%= company._id %>?_method=put" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= company.name %>" />

        <input type="submit" value="Update Company">
    </form>
</body>

</html>