<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>New Company Page</h1>
    <form action="/companies" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
        <label for="logo">Logo</label>
        <input type="url" name="logo" id="logo" />
        <label for="address">Address</label>
        <input type="text" name="address" id="address" />

        <label for="city">city</label>
        <input type="text" name="city" id="city" />
        <label for="telephone">telephone</label>
        <input type="text" name="telephone" id="telephone" />

        <label for="driverName">DriverName</label>
        <input type="text" name="driverName" id="driverName" />
        <label for="driverAge">Driver Age</label>
        <input type="text" name="driverAge" id="driverAge" />
        <label for="driverImage">Driver Image</label>
        <input type="text" name="driverImage" id="driverImage" />

        <label for="carName">Car Name</label>
        <input type="text" name="carName" id="carName" />
        <label for="carModel">Car Model</label>
        <input type="text" name="carModel" id="carModel" />
        <label for="carYear">Car Year</label>
        <input type="text" name="carYear" id="carYear" />
        <label for="carImage">Car Image</label>
        <input type="text" name="carImage" id="carImage" />


        <input type="submit" value="Create Company">
    </form>
</body>

</html>