<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
</head>

<body>

    <h1>
        <nav>
            <a href="/cars/">BACK</a>
        </nav>
        <%= car.name %>
    </h1>

    <ul>
        <% car.companies.forEach(company => { %>
        <li>
            <%= company.name %>
        </li>
        <% }) %>
    </ul>

    <a href="/cars/<%= car._id  %>/edit">EDIT</a>

</body>

</html>